/* Déclaration de la police Gotu */
@font-face {
  font-family: 'Gotu';
  src: url('../assets/fonts/Gotu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}